*{
font-family: ' Poppins',Roboto,sans-serif;
}
  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    /* max-height: 100%; */
  }
  .title-text {
    position: absolute;
    bottom: 0;
    height: 55px;
    background-color: #00000093;
    overflow: hidden;
     padding: 20px 20px 20px 20px;
    margin-top: 24px; 
    transition: ease-in all 0.5s;
}
.title-text:hover {
  cursor: pointer;
  background-color: #fffffff2;
  color: black;
  height: 273px;
  transition: ease-in all 0.5s;
}


.navbar{
  background-image: linear-gradient(0deg, #000000 10%, #000000 100%);
}

/* #027902 */
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 20px;
    
  }
  .mhssce{
    font-size: 1.5rem;
   }
  .profilebody{
    min-height: 350px;
  }
  .carousel-inner {
    padding: 1em;
  }
  .badge-success{
    background-color: rgb(255, 255, 255);
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    font-weight: bold;
}
.nav-item:hover{
  background-color: #1ed760;
  transform: perspective(100px) translate(2px,-2px);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

.ourevents{
  font-size: 2rem;
}
.questiontitle h1,h2{
  font-size: 20px;
  font-weight: 900;
  font-size: 3rem;
}
.contact{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 50px;
}
.readmore{
  background-color: #070707;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 10px 5px;
}
  .contact:hover{
    background-color: rgb(0, 87, 0);
    color:white;
    transition: ease-in all 0.3s;
  }
  .readmore:hover{
   
    color:white;
   
  }
 
  .card:hover{
   
   
    transform:translateY(-5px);
    box-shadow: 5px 9px 8px 0 rgba(22, 22, 26, 0.18);

  }
p{
  font-size: 1.2rem;
}



  @media only screen and (max-width: 780px) {

     .mhssce{
      font-size: 1rem;
     }

    .questiontitle h1,h2{
       /* font-size: 20px; */
  
     }
    
     .questiontitle h3,h4{
       font-size: 20px;
       font-weight: bold;
     }
   }
  @media only screen and (max-width: 500px) {
    h2{
      font-size: 2rem;
    }

    .readmore{
      background-color: #070707;
      color: rgb(255, 255, 255);
      border-radius: 50px;
      font-size: 14px;
      padding: 0px 0px;
    }

    /* .questiontitle h1,h2{
       font-size: 13px;
     } */
    .ourevents{
       font-size: 1.4rem;
     }
    .announcement{
       font-size: 1rem;
     }
    
    
     .questiontitle h3,h4{
       font-size: 10px;
       font-weight: bold;
     }
     .h3{
      font-size: 1rem;
      font-weight: bold;
    }
    p{
      font-size: 1rem;
    }
    }



    
    
    @media (max-width: 600px) {
      ul {
        transform: scale(0.6);
      }
    }
    
    @media (min-width: 601px) and (max-width: 700px) {
      ul {
        transform: scale(0.7);
      }
    }
    
    @media (min-width: 701px) and (max-width: 800px) {
      ul {
        transform: scale(0.8);
      }
    }

  
    
    .social-links {
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      display:inline-flex;
    }
    
    .s-link {
      margin: 0 40px;
      position: relative;
      display: flex;
    }
    
    .s-link a .fa {
      font-size: 40px;
      color: #555;
      line-height: 80px;
      transition: 0.5s;
    }
    
    .s-link a {
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
      background: #fff;
      text-align: center;
      transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
      transition: 0.5s;
      box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
    }
    
    .s-link a::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -20px;
      height: 100%;
      width: 20px;
      background: #b2b2b2;
      transition: 0.5s;
      transform: rotate(0deg) skewY(-45deg);
    }
    
    .s-link a::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -10px;
      height: 20px;
      width: 100%;
      background: #e5e5e5;
      transition: 0.5s;
      transform: rotate(0deg) skewX(-45deg);
    }
    
    .s-link a:hover {
      transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
      box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    }
    
    .s-link:hover .fa {
      color: #fff;
    }
    
    .s-link:hover:nth-child(1) a {
      background-color: #3b5999;
    }
    
    .s-link:hover:nth-child(1) a::before {
      background-color: #2f477a;
    }
    
    .s-link:hover:nth-child(1) a::after {
      background-color: #4e69a3;
    }
    
    .s-link:hover:nth-child(2) a {
      background-color: #55acee;
    }
    
    .s-link:hover:nth-child(2) a::before {
      background-color: #4489be;
    }
    
   .s-link:hover:nth-child(2) a::after {
      background-color: #66b4ef;
    }
    
    .s-link:hover:nth-child(3) a {
      background-color: #dd4b39;
    }
    
    .s-link:hover:nth-child(3) a::before {
      background-color: #b03c2d;
    }
    
    .s-link:hover:nth-child(3) a::after {
      background-color: #e05d4c;
    }
    
    .s-link:hover:nth-child(4) a {
      background-color: #0077b5;
    }
    
    .s-link:hover:nth-child(4) a::before {
      background-color: #005f90;
    }
    
    .s-link:hover:nth-child(4) a::after {
      background-color: #1984bc;
    }
    
    .s-link:hover:nth-child(5) a {
      background-color: #e4405f;
    }
    
    .s-link:hover:nth-child(5) a::before {
      background-color: #b6334c;
    }
    
    .s-link:hover:nth-child(5) a::after {
      background-color: #e6536f;
    }

    .social-media{
      position: relative;
      
      display:flex;
      justify-content: center;
      align-items: center;
      height: 40vh;
      margin-top: -10px;
    }


    .follow-msg, .insta-post-msg,.contact-us{
      font-family: ' Poppins',Roboto,sans-serif;
      text-align: center;
      font-weight: 800;
    }

    .follow-msg{
      font-size: 35px;
      margin-top: 50px
    }

    .insta-post-msg{
      font-size: 35px;
      margin-top: 50px;
      margin-bottom: 60px;
    }

    .contact-us{
      margin-bottom: 30px;
    }

    .taggbox{
      margin-bottom: 70px;
    }






    .button-17 {
      align-items: center;
      appearance: none;
      background-color: #fff;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      color: #3c4043;
      cursor: pointer;
      display: inline-flex;
      fill: currentcolor;
      font-family: "Google Sans",Roboto,Arial,sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
      will-change: transform,opacity;
      z-index: 0;
    }
    
    .button-17:hover {
      background: #1ed760;
      color: #fff;
    }
    
    .button-17:active {
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
      outline: none;
    }
    
    .button-17:focus {
      outline: none;
      border: 2px solid #4285f4;
    }
    
    .button-17:not(:disabled) {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-17:not(:disabled):hover {
      box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
    }
    
    .button-17:not(:disabled):focus {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button-17:not(:disabled):active {
      box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    }
    
    .button-17:disabled {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }